<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
  <h1>페이지 응답</h1>
    <button class="button1">버튼1</button>
    <button class="button2">버튼2</button>

    <script type="text/javascript">

        const button1 = document.querySelector(".button");
        const button2 = document.querySelector(".button");

        button1.onclick = () => {
            let student = {
                name: "peng",
                email: "qwer1234@gmail.com",
                address: "부산 동래구 사직동"
            }


            $.ajax({
                async: false,
                type: "post",
                url: "/study/student/1",
                contentType: "application/json",
                data: JSON.stringify(student),
                dataType: "text",
                success: Response =>{
                    alert(Response);
                },
                error: Response => {
                    alert("요청실패");
                }
            });
        }

        button2.onclick = () => {
            let student = {
                name: "peng",
                email: "qwer1234@gmail.com",
                address: "부산 동래구 사직동"
            }


            $.ajax({
                async: false,
                type: "get",
                url: "/study/student/2",
                contentType: "application/json",
                data: JSON.stringify(student),
                dataType: "text",
                success: Response =>{
                    console.log(Response);
                },
                error: Response => {
                    console.log(Response);
                }
            });
        }

    </script>
</body>
</html>